@import '../helpers/_mixins'
@import '../helpers/_variables'
.item-subprice
    @include priceSub('15%')

main
    color: $colortext
    .main__body
        .main__container--featuredProducts
            .container__featureProducts--title
                @include title
            .container__featureProducts--body
                .card
                    @media screen and ( max-width: 1200px )
                        .hoverShow
                            display: none !important
                    @include hoverItem(100%)
                    
        .main__container--PromotionAndBuyMoreProduct
            .container__PromotionProduct     
                .container__PromotionProduct--title      
                    @include title     
                .container__PromotionProduct--body
                    .card
                        @include hoveritemRow 
            .container__BuyMoreProduct
                .container__BuyMoreProduct--title
                    @include title
                .container__BuyMoreProduct--body
                    
                    .position-relative
                        .carousel
                            .carousel-inner
                                .displaynone
                                    width: 100%
                                @media screen and ( max-width:  768px)
                                    font-size: 70% !important
                                .card
                                    @include hoverItem(75%)
                                    @media screen and ( max-width: 1200px )
                                        .hoverShow
                                            display: none !important
                                        .card-title
                                            font-size: 70%
                                        span 
                                            font-size: 50%
        .main__container--newProduct 
            .container__newProduct
                .container__newProduct--title 
                    @include title
                .container__newProduct--body
                    .position-relative
                        .carousel
                            .carousel-inner
                                .displaynone
                                    width: 100%
                                @media screen and ( max-width:  768px)
                                    font-size: 70% !important
                                .card
                                    @include hoverItem(75%)
                                    @media screen and ( max-width: 1200px )
                                        .hoverShow
                                            display: none !important
                                        .card-title
                                            font-size: 70%
                                        span 
                                            font-size: 50%                            
        .main__container--news 
            .container__news--title 
                @include title
            .container__news--body 
                .position-relative
                    .carousel
                        .carousel-inner
                            .carousel-item
                                .card
                                    .card-title , a
                                        color:$colorSuccess
                                        