@import './_variables'
@mixin prefix($property,$value)
    #{$property}: $value
    #{'-webkit-' + $property } : $value
    #{'-o-' + $property }: $value
    #{'-ms-' + $property }: $value


@mixin priceSub($a)
    position: relative
    z-index: 2
    &::before
        position: absolute
        content: $a
        top: 20px
        left: 20px
        padding: 0.7em 0.4rem
        border-radius: 50%
        color: white
        background-color: red
        z-index: 5


@mixin hoverItem($fontsize)
    @include prefix(transition,all 0.5s )
    position: relative
    .imgcard
        &::before
            content: ''
            width: 100%
            top: 0
            left: 0
            bottom: 35%
            position: absolute
            background-color: $colorblackbg
            display: none
            @include prefix(transition,all 0.25s )
        @include respond(sm)
            &::before
                display: none
    .hoverShow
        top: 32%
        width: 100%
        left: 5%
        @include respond(xs)
            left: 15%
        
        button
            font-size: $fontsize
            @include respond(sm)
                font-size: 70%
            border-radius: 15px !important
            @include prefix(transition,all 0.75s )
        .addcart
            width: 70%
            padding: 0.5rem 1rem
            margin: 0 auto
        display: none
        @include prefix(transition,all 0.75s )
        z-index: 1
    &:hover
        @include prefix(transform ,translateY(-5px) )
        box-shadow: 3px 5px 3px 5px $border
        .hoverShow
            display: block
        .imgcard
            &::before
                display: block

                
@mixin title
    @include respond(xl)
        font-size: 75%
    border-bottom: 1px solid $border
    padding: 1rem
    padding-left: 0
    font-weight: 600
    span
        border-bottom: 3px solid $colorSuccess 
        padding: 1rem
        color: $colorSuccess 
        font-size: 150%
    position: relative
    .button
        position: absolute
        right: 20px
        top: 30px
        i
            border-radius: 50%
            padding: 0.3rem 0.4rem
            background-color: $colorblackbg
            color: black !important
            font-size: 16px !important
            @include prefix(transition,all 0.75s )
            
            &:hover
                background-color: $colorSuccess
                color: white !important
        .fa-chevron-left
            &:hover
                @include prefix(transform,translateX(-10px) )
        .fa-chevron-right
            &:hover
                @include prefix(transform,translateX(10px) )
            

@mixin hoveritemRow
    @include prefix(transition ,all 0.5s )
    &:hover
        @include prefix(transform ,translateX(10px) )

@mixin navStyle
    display: flex
    flex-direction: column
    height: auto
    li
        @include prefix(transition , all 0.5s )
        &:hover
            @include prefix(transform , translateX(10px) )
            
            a,i
                text-decoration: none
                color: $colorSuccess
        border-bottom: 1px solid $colortext 
        padding: 0.3rem
        a,i
            font-weight: 600
            color: $colortext 
            
        i
            font-size: 80%

@mixin hoverNavbar
    padding-right: 15px !important
    position: relative
    &::before
        position: absolute
        bottom: 0
        left: 0
        content: ''
        width: 0%
        height: 2px
        background-color: white
        @include prefix(transition,all 0.5s )
        
    &::after
        @include prefix(transition,all 0.5s )
        position: absolute
        bottom: 0
        left: 0
        content: ''
        width: 2px
        height: 0%
        background-color: white
    &:hover
        &::after
            height: 80%
        &::before
            width: 80%

@mixin btn($colorprev,$colornext)
    margin-top: 1rem
    @include prefix(border-radius ,15px !important )
    position: relative
    background-color: $colorprev
    color: $colornext
    @include prefix(transition,all 0.5s )
    border: 1px solid $colornext
    &::before
        position: absolute
        z-index: -10
        content: ''
        top: 0
        right: 51%
        left: 51%
        width: 0
        height: 100%
        background: $colornext
        border: 1px solid $colornext
        @include prefix(transition,all 0.5s )
    &:hover
        background: none
        color: $colorprev !important
        z-index: 1000
        &::before
            @include prefix(border-radius , 15px !important )
            width: 100%
            left: 0
            right: 0
            border: 1px solid $colorprev

@mixin tooltip
    &:hover
        .quote
            display: block
    position: relative
    width: auto
    height: auto
    padding: 3px 5px
    border-radius: 10px
    span, i
        color: white
    .quote
        z-index: 1000
        display: none
        top: -10px
        margin: 10px
        width: 30px
        height: 30px
        background-color: $backgroundtooltip
        position: absolute
        right: -50px
        text-align: center
        &::before
            content: ""
            position: absolute
            top: 5px
            left: -10px
            border-right:  10px solid $backgroundtooltip
            border-bottom:  10px solid transparent
            border-top: 10px solid transparent

// Break points
@mixin respond($breakpoint) 
  @if map-has-key($breakpoints, $breakpoint) 
    $breakpoint-value: map-get($breakpoints, $breakpoint)
    @media (max-width: $breakpoint-value) 
        @content

@mixin size($width, $height)
    width: $width
    height: $height