include ../blocks/mixins
footer.p-5
    .footer__container.container
        .footer__container--header.row 
            .container__header--contact.col-12.col-xl-5
                a.contact--link.ml-3(href="#")
                    i.fab.fa-facebook-f
                a.contact--link.ml-3(href="#")
                    i.fab.fa-twitter
                a.contact--link.ml-3(href="#")
                    i.fab.fa-vuejs
                a.contact--link.ml-3(href="#")
                    i.fab.fa-instagram
            .container__header--form.col-12.col-xl-7.row
                span.header__form--title.col-12.col-md-4 ĐĂNG KÍ NHẬN EMAIL TỪ CHÚNG TÔI
                .input-group.mb-3.col-12.col-md-7
                    input.form-control(type='text')
                    .input-group-append
                        span#basic-addon2.input-group-text.bg-success
                            i.fas.fa-paper-plane.text-light
        .footer__container--body.row.mt-3
            .footer__container--about.col-12.col-xl-3.mr-5
                img.img-fluid(src="../../images/logo.png", alt="logo").mb-4
                p.about__us 
                    |Green shop được thành lập từ 8/2010 được sự tin tưởng của khách hàng trong suốt thời gian họat động dến nay cửa hàng ngày càng phát triển
                div 
                    i.fas.fa-phone-square-alt 
                    
                    |&nbsp; Điện thoại :(84-8) 66 558 868
                div 
                    i.far.fa-envelope
                    
                    |&nbsp; Email : info@gmail.com
            .footer__container--infocustom.col-12.col-xl-2.mt-3
                h5.title.mb-4 Thông tin khách hàng
                +footerNav([' Tài khoản của tôi',' Sản phẩm yêu thích',' lịch sử mua hàng',' chính sách đổi trả',' Góp ý,khiếu nại'])
            .footer__container--service.col-12.col-xl-2.mt-3
                h5.title.mb-4 Hỗ trợ dịch vụ
                +footerNav([' Hệ thống cửa hàng',' hướng dẫn mua hàng',' Hướng dẫn thanh toán'," Tích đổi điểm quà",' Câu hỏi thường gặp'])
            .footer__container--policy.col-12.col-xl-2.mt-3
                h5.title.mb-4 Chính sách ưu đãi
                +footerNav([' Chính sách giao hàng',' Chính sách đổi trả sản phẩm',' Chính sách bảo hành', ' Giới thiệu sản phẩm mới',' chính sách trả góp'])
            .footer__container--news.col-12.col-xl-2.mt-3
                h5.title.mb-4 Tin Tức
                +footerNav([' Tin mới',' Khuyến mãi',' Tuyển dụng',' Download',' Tags'])