@import  '../helpers/variables'
footer
    @media screen and ( max-width: 992px )
        font-size: 90%
        
    font-size: 90%
    color: white
    background-color: $colorBlack
    .footer__container.container
        
        .footer__container--header
            border-bottom: 1px solid #cfc1c138
            .container__header--contact
                a
                    color: white
        .footer__container--body
            .footer__container--about
            .col-lg-2
                .title
                    height: 40px
                    font-size: 130%
                ul
                    flex-direction: column
                    li
                        a
                            color: white