extends layout/layout
block vars
	-title = 'TRANG CHỦ'
	-bodyClass = 'home-page'
block container
	include ./variable.pug
	main
		section.main__carosel 
			#carouselExampleIndicators.carousel.slide(data-ride='carousel')
				ol.carousel-indicators
					li.active(data-target='#carouselExampleIndicators' data-slide-to='0')
					li(data-target='#carouselExampleIndicators' data-slide-to='1')
				.carousel-inner
					.carousel-item.active
						img.d-block.w-100(src='../../images/slider_2.jpg' alt='First slide')
					.carousel-item
						img.d-block.w-100(src='../../images/slide-1920x590.png' alt='Second slide')
		section.main__body
			.main__wrapp.container
				section.main__container--featuredProducts
					.container__featureProducts--title 
						span Sản phẩm nổi bật
					.container__featureProducts--body
						+ItemColumn(productNB)
				section.main__container--PromotionAndBuyMoreProduct.row.mt-3
					aside.container__PromotionProduct.col-12.col-xl-4
						.container__PromotionProduct--title 
							span Sản phẩm mua nhiều
						.container__PromotionProduct--body 
							+ItemRow(productMorebuy)
					section.container__BuyMoreProduct.col-12.col-xl-8
						.container__BuyMoreProduct--title 
							span Sản Phẩm khuyến mãi
							.button
								a.caro(href='#demo' data-slide='prev' style='opacity: 1; left: -10%;').mr-1
									i.fas.fa-chevron-left(style='color:#5969f6; font-size:30px;')
								a.caro(href='#demo' data-slide='next' style='opacity: 1; transform: rotate(-180deg); right: -10%;').mr-1
									i.fas.fa-chevron-right(style='color:#5969f6; font-size:30px;')
						.container__BuyMoreProduct--body 
							+CarouselBodyProduct(dataSaleProduct,'')
									// Left and right controls	
				img.mt-2.img-fluid(src='../../images/banner-11140x217.png' alt='banner').mb-5.mt-5
				.main__container--newProduct 
					.container__newProduct
						.container__newProduct--title 
							span Sản phẩm mới
							.button
								a.caro(href='#demo1' data-slide='prev' style='opacity: 1; left: -10%;').mr-1
									i.fas.fa-chevron-left(style='color:#5969f6; font-size:30px;')
								a.caro(href='#demo1' data-slide='next' style='opacity: 1; transform: rotate(-180deg); right: -10%;').mr-1
									i.fas.fa-chevron-right(style='color:#5969f6; font-size:30px;')
						.container__newProduct--body
							+CarouselBodyProduct(dataNewProduct,'1')
				article.main__container--news 
					.container__news--title.mb-3
						span Tin tức
						.button
							a.caro(href='#demo2' data-slide='prev' style='opacity: 1; left: -10%;').mr-1
								i.fas.fa-chevron-left(style='color:#5969f6; font-size:30px;')
							a.caro(href='#demo2' data-slide='next' style='opacity: 1; transform: rotate(-180deg); right: -10%;').mr-1
								i.fas.fa-chevron-right(style='color:#5969f6; font-size:30px;')
					.container__news--body 
						.container.pb-5.position-relative
							#demo2.carousel.slide.position-relative(data-ride='carousel')
								// Indicators
								ul.carousel-indicators
									li(data-target='#demo2' data-slide-to='0')
									li.active(data-target='#demo2' data-slide-to='1')
									li(data-target='#demo2' data-slide-to='2')
								// The slideshow
								section.carousel-inner
									section.carousel-item.active.carousel-item-left
										+newsItem(dataNews)
									section.carousel-item.carousel-item-next.carousel-item-left
										+newsItem(dataNews)
									section.carousel-item
										+newsItem(dataNews)
	.index_popup.d-none.d-xl-block
		include ./blocks/popup
