extends layout/layout
block vars
	-title = 'TIN TỨC'
	-bodyClass = 'news'
block container
	include ./variable.pug
	section.news-wrap.container
			nav(aria-label='breadcrumb')
				ol.breadcrumb
					li.breadcrumb-item
						a(href='index.html') Home
					li.breadcrumb-item.active(aria-current='page') Danh sách sản phẩm
			main.news__body.row
				aside.col-3.d-xl-block.d-none
					.navbar__list 
						.navbar__list--title 
							span Danh sách sản phẩm
						+Nav(['Cây chậu treo(10)','Cây có hoa(5)','Cây dây leo','Cây để bàn','Cây may mắn','Cây trang trí','Cây nội thất'])
					.navbar__newsHighlights
						.navbar__newsHighlights--title
							span Tin tức nổi bật
						.navbar__newsHighlight--body.mt-3 
							+newsCard(news)
					.navbar__blogtag 
						.navbar__blogtag--title.mb-3 
							span Blog tag
						.navbar__blogtag--body 
							+blogtag(type)
				section.col-12.col-xl-8
					+newsCardColumn(newsDetail)
					nav(aria-label='Page navigation example').mt-5.d-flex.d-flex.justify-content-end.mr-4
						+pagination(pagination.total,pagination.active )
