extends layout/layout

block vars
	-title = 'SẢN PHẨM'
	-bodyClass = 'product'
block container
	include ./variable.pug
	main.product 
		section.product-wrap.container
			nav(aria-label='breadcrumb')
				ol.breadcrumb
					li.breadcrumb-item
						a(href='index.html') Home
					li.breadcrumb-item.active(aria-current='page') Danh sách sản phẩm
			main.product__body.row
				aside.col-3.d-xl-block.d-none
					.navbar__list 
						.navbar__list--title 
							span Danh sách sản phẩm
						+Nav(type)
					.navbar__searchProduct 
						.navbar__searchProduct--title 
							span Tìm theo sản phẩm
						+Nav(filterPrize)
					.navbar__searchcolor
						.navbar__searchcolor--title 
							span Tìm theo màu
						.navbar__searchcolor--body.d-flex.justify-content-around
							ul.navbar__searchcolor--body1.d-flex.flex-column 
								li 
									.green
									a(href="#") xanh cây
								li
									.violet
									a(href="#")  tím
								li
									.yellow
									a(href="#")  vàng
							ul.navbar__searchcolor--body2.d-flex.flex-column 
								Li
									.red
									a(href="#") đỏ cam
								li
									.blue
									a(href="#") xanh trời
								li
									.pink
									a(href="#") hồng
				section.product__body--gridorlist.col-xl-9.col-12
					img.img-fluid.mt-3(src='../../images/collection_banner.png' alt='banner-product')
					header.product__body--header.d-flex.m-3.justify-content-around
						ul#pills-tab.nav.nav-pills.mb-3.d-flex.justify-content-center(role='tablist')
							li.nav-item
								a#product-grid-tab.nav-link.active(data-toggle='pill' href='#product-grid' role='tab' aria-controls='product-grid' aria-selected='true') 
									i.fas.fa-th
							li.nav-item
								a#product-list-tab.nav-link(data-toggle='pill' href='#product-list' role='tab' aria-controls='product-list' aria-selected='false') 
									i.fas.fa-list
						.group__input
							label(for="sort").d-none.d-md-inline Sắp xếp theo :
							select#sort(name="sort").p-2
								option(value="name") sắp xếp theo tên   
								option(value="price") sắp xếp theo giá  
						.group__input
							label(for="sort").d-none.d-md-inline Show :
							select(name="sort").p-2
								option(value="15") 12  
								option(value="20") 20 
					main.product__body--main 
						//productlist
						#pills-tabContent.tab-content
							#product-grid.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='product-grid-tab')
								.div.d-flex.flex-wrap 
									+ItemColumn(dataProductPage)
							#product-list.tab-pane.fade(role='tabpanel' aria-labelledby='product-list-tab')
								.div
									+ItemList(dataProductPage)
						nav(aria-label='Page navigation example').mt-5.d-flex.d-flex.justify-content-end.mr-4
							+pagination(pagination.total,pagination.active )