-
    var dataProductPage = [  
        {url :'images/spx2-8.png',name :'cây cung điện',price:'520.000'},
        {url :'images/spx2-14.png',name :'cây tài lộc',price:'420.000',pricesub:'500.000'},
        {url :'images/spx2-11.png',name :'cây phát tài',price:'300.000'},
        {url :'images/spx2-5.png',name :'cây xương rồng',price:'320.000',pricesub:'330.000'},
        {url :'images/spx2-15.png',name :'cây dạ lam',price:'250.000',pricesub:'300.000'},
        {url :'images/spx2-12.png',name :'cây danh dự',price:'250.000'},
        {url :'images/spx2-7.png',name :'cây dứa nhỏ',price:'320.000',pricesub:'400.000'},
        {url :'images/spx2-3.png',name :'cây chân chim',price:'320.000',pricesub:'400.000'},
        {url :'images/spx2-2.png',name :'cây cọ ta',price:'320.000',pricesub:'400.000'},
        {url :'images/spx2-1.png',name :'cây đa búp đỏ',price:'250.000'},
        {url :'images/spx2-14.png',name :'cây dứa nhỏ',price:'250.000'},
        {url :'images/spx2-12.png',name :'cây danh dự',price:'250.000'},
    ]
    var dataNewProduct = [  
        {url :'images/spx2-8.png',name :'cây cung điện',price:'520.000'},
        {url :'images/spx2-14.png',name :'cây tài lộc',price:'420.000',pricesub:'500.000'},
        {url :'images/spx2-11.png',name :'cây phát tài',price:'300.000'},
        {url :'images/spx2-5.png',name :'cây xương rồng',price:'320.000',pricesub:'330.000'}
    ]
    var dataSaleProduct = [  
        {url :'images/spx2-8.png',name :'cây cung điện',price:'520.000'},
        {url :'images/spx2-14.png',name :'cây tài lộc',price:'420.000',pricesub:'500.000'},
        {url :'images/spx2-11.png',name :'cây phát tài',price:'300.000'},
    ]
    var dataNews=[
        {url:'images/new-1.jpg',subtitle :'Ngày 20 tháng 01 năm 2016',title :'Loại cây xanh để bàn đang được giới văn phòng ưa chuộng',content:' Loại cây xanh để bàn đang được giới văn phòng ưa chuộng, Những mẫu cây để bàn đang được giới văn phòng ưa chuộng, câ...'},
        {url:'images/new-1.jpg',subtitle :'Ngày 20 tháng 01 năm 2016',title :'Loại cây xanh để bàn đang được giới văn phòng ưa chuộng',content:' Loại cây xanh để bàn đang được giới văn phòng ưa chuộng, Những mẫu cây để bàn đang được giới văn phòng ưa chuộng, câ...'},
        {url:'images/new-3.jpg',subtitle :'Ngày 20 tháng 01 năm 2016',title :'Hướng dẫn lựa chọn cây cảnh trang trí trong văn phòng',content:' Hướng dẫn lựa chọn cây cảnh trang trí trong văn phòng, Bạn muốn tạo bầu không khí mới lạ cho văn phòng của mình bằng...'}
    ]
    var type =['Cây chậu treo','Cây có hoa','Cây dây leo','Cây để bàn','Cây may mắn','Cây trang trí','Cây nội thất']
    var filterPrize = ['200.000 Đ - 400.000Đ','4000.000 Đ - 600.000 000 Đ','600.000 Đ - 800.000 Đ','800.000 Đ - 1000.000 Đ ','1000.000 Đ - 2000.000 Đ']
    var news=[
        {url :'images/spx2-1.png',content: 'Hướng dẫn lựa chọn cây cảnh trang trí trong văn phòng'},
        {url :'images/spx2-1.png',content: 'Hướng dẫn lựa chọn cây cảnh trang trí trong văn phòng'},
        {url :'images/spx2-1.png',content: 'Hướng dẫn lựa chọn cây cảnh trang trí trong văn phòng'},
        {url :'images/spx2-1.png',content: 'Hướng dẫn lựa chọn cây cảnh trang trí trong văn phòng'},
        {url :'images/spx2-1.png',content: 'Hướng dẫn lựa chọn cây cảnh trang trí trong văn phòng'},
    ]
    var newsDetail=[
        {title:'Hướng dẫn lựa chọn cây cảnh trang trí trong văn phòng',url :',./../images/spx2-1.png',content: 'Cách bố trí cây cảnh các vị trí quan trọng trong nhà để hút lộc, cách bố trí cây cảnh các vị trí trong nhà, hướng dẫn bố trí cây cảnh nội thất trong nhà... Bài trí cây cảnh hợp phòng thủy phát huy tác dụng và hút lộc, cây xanh trong nhà, cây cảnh...'},
        {title:'Cách bố trí cây cảnh các vị trí quan trọng trong nhà để hút lộc',url :'images/spx2-2.png',content: 'Hướng dẫn lựa chọn cây cảnh trang trí trong văn phòng, Bạn muốn tạo bầu không khí mới lạ cho văn phòng của mình bằng những chậu cây xanh, Hay đơn giản chỉ là sáng tạo một chút khi bố trí nội thất để tạo điểm nhấn cho văn phòng của mình? Bạn muốn ...'},
        {title:'Những sai lầm nên tránh khi bố trí cây xanh trong nhà',url :',./../images/spx2-3.png',content: 'Từ xưa đến nay, người ta vẫn quan niệm rằng, việc trồng cây xanh trong nhà không chỉ tạo thêm sinh khí, làm cho căn nhà trở nên hài hòa hơn mà còn mang rất nhiều ý nghĩa về mặt phong thủy. Tuy nhiên, một số sai lầm mắc phải khi lựa chọn và bố trí...'},
        {title:'Loại cây xanh để bàn đang được giới văn phòng ưa chuộng',url :',./../images/spx2-4.png',content: 'Luôn mang lại nhiều lợi ích nếu như chúng ta đặt ở văn phòng làm việc : Đem lại những cảnh quan thiên nhiên thu nhỏ trong phòng làm việc của bạn Điều hòa khí hậu, không khí , giảm nhiệt độ tiếng ồn, mang lại vẻ tươi mát giúp cho nhân ...'},
        {title:'Những lợi ích của việc trồng cây xanh tại văn phòng',url :',./../images/spx2-5.png',content: 'Loại cây xanh để bàn đang được giới văn phòng ưa chuộng, Những mẫu cây để bàn đang được giới văn phòng ưa chuộng, cây cảnh văn phòng để bàn thông dụng, những cây cảnh được giới văn phòng ưa chuộng, cây xanh văn phòng để bàn ưa chuộng, những mẩu c...'},

    ]
    var productNB=
        [
            {url :'images/spx2-5.png',name :'cây xương rồng',price:'320.000',pricesub:'1000.000'},
            {url :'images/spx2-11.png',name :'cây phát tài',price:'300.000'},
            {url :'images/spx2-4.png',name :'cây vạn lộc',price:'250.000',pricesub:'300.000'},
            {url :'images/spx2-8.png',name :'cây cung điện',price:'520.000'},
            {url :'images/spx2-14.png',name :'cây tài lộc',price:'420.000',pricesub:'1000.000'},
            {url :'images/spx2-13.png',name :'cây ngũ gia bì',price:'520.000',pricesub:'640.000'}]
    var productMorebuy=
        [
            {url :'images/spx2-13.png',name :'cây ngũ gia bì',price:'520.000',pricesub:'640.000'},
            {url :'images/spx2-8.png',name :'cây cung điện',price:'520.000'},
            {url :'images/spx2-14.png',name :'cây tài lộc',price:'420.000',pricesub:'1000.000'},
            {url :'images/spx2-11.png',name :'cây phát tài',price:'300.000'},
            {url :'images/spx2-4.png',name :'cây vạn lộc',price:'250.000',pricesub:'300.000'},
            {url :'images/spx2-5.png',name :'cây xương rồng',price:'320.000',pricesub:'1000.000'}]
    var linkHeader=
        [
            {
                title : 'TRANG CHỦ' ,
                link :'index.html'
            },
            {
                title : 'GIỚI THIỆU' ,
                link :'#'
            },
            {
                title : 'SẢN PHẨM' ,
                link :'product.html'
            },
            {
                title : 'LIÊN HỆ' ,
                link :'contact.html'
            },
            {
                title : 'TIN TỨC' ,
                link :'news.html'
            },
        ]
    var Img=[
        {
            src :'images/spx2-1.png',
            alt:'spx2-1.png'
        },
        {
            src :'images/spx2-2.png',
            alt:'spx2-2.png'
        },
        {
            src :'images/spx2-3.png',
            alt:'spx2-3.png'
        },
        {
            src :'images/spx2-4.png',
            alt:'spx2-4.png'
        },
        {
            src :'images/spx2-5.png',
            alt:'spx2-5.png'
        },
    ]
    var pagination = {
        total : 4,
        active : 1,
    }